@import "./header.css";
@import "./index.css";
@import "./welcome.css";
@import "./auction-item.css";
@import "./footer.css";
@import "./auth.css";
@import "./dashboard.css";

:root {
    --color-bg: #16232a;
    --color-bg-light: #1e2c36;
    --color-highlight: #ff5b04;

    --color-text: #E4EEF0;
    --color-text-secondary: #A0B1B9;
    --color-border: #053350;

    --color-warning: #ff4d6d;
    --color-success: #4caf50;
}

* {
    font-family: "Instrument Sans", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-bg);
    color: var(--color-text);
}

main {
    flex: 1;
}
