header {
    font-family: "Instrument Sans", sans-serif;
    color: var(--color-text);
    background-color: var(--color-bg);
    border-bottom: 3px solid var(--color-border);
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;

        .logo {
            font-size: 3rem;
            color: var(--color-highlight);
            font-weight: 700;
            cursor: pointer;
            text-decoration: none;
        }

        .nav {
            ul {
                list-style: none;
                display: flex;
                gap: 3rem;
                margin: 0;
                padding: 0;

                li {
                    a {
                        text-decoration: none;
                        color: var(--color-text);
                        font-weight: 500;
                        font-size: 1.2rem;
                        transition: color 0.3s;
                        transition: opacity 0.3s;

                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
}
